@model Entities.Dtos.Menus.MenuDto

@{
    ViewData["Title"] = "Details";
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
                @Html.DisplayNameFor(model => model.ParentMenu)
                @Html.DisplayNameFor(model => model.Url)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                @Html.DisplayFor(modelItem => modelItem.Name)
                @Html.DisplayFor(modelItem => modelItem.ParentMenu)
                @Html.DisplayFor(modelItem => modelItem.Url)
            </td>
            <td>
                <a asp-action="Delete" asp-route-id="@Model.Id">Delete</a>
                <a asp-action="Update" asp-route-id="@Model.Id">Edit</a>
            </td>
    </tbody>
</table>
